html {
	--main_bg_color: url(../img/bg.jpg);
	--main_text_color: #ffffff;
	--gradient: linear-gradient(120deg, #bd34fe, #e0321b 30%, #41d1ff 60%);
	--purple_text_color: #747bff;
	--text_bg_color: #00000036;
	--item_bg_color: #0000002e;
	--item_hover_color: #3333333d;
	--item_left_title_color: #ffffff;
	--item_left_text_color: #ffffff;
	--footer_text_color: #ffffff;
	--left_tag_item: rgb(27 42 57 / 20%);
	--card_filter: 9px;
	--back_filter: 0px;
	--back_filter_color: #00000030;
	--fill:#ffffff;
}
